<app-content>
    <br><br>
      <form [formGroup]="form" (submit) = "onSubmit()">
        <div class="row">
          <label for="">รหัสประชาชน</label>
          <input type="text" class="form-control"
          formControlName="citizenID" >
        </div>
        <div class="row">
       
            <label for="">ชื่อ</label>
            <input type="text" class="form-control" 
            formControlName="name">
          </div>
          <div class="row">
       
              <label for="">นามสกุล</label>
              <input type="ntext" class="form-control" 
              formControlName="lastname">
            </div>
            <div class="row">
       
                <label for="">อีเมลล์</label>
                <input type="text" class="form-control" 
                formControlName="email">
              </div>
              <div class="form-group row">
                  <label class="col-md-2 col-form-label">เพศ</label>
                  <div class="col-md-5">
                    <select class="form-control" formControlName="gender">
                      <option selected="selected" value="M">M</option>
                      <option selected="selected" value="S">S</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                    <label for="">ชื่อภาษาอังกฤษ</label>
                    <input type="text" class="form-control"
                    formControlName="name_eng" >
                  </div>
                  <div class="row">
                      <label for="">นามสกุลภาษาอังกฤษ</label>
                      <input type="text" class="form-control"
                      formControlName="lastname_eng" >
                    </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success">บันทึก</button>
            </div>
      </form>
  </app-content>